.DS_Store
*.history
*.o
./cancer_gillespie_simulation*
./cancer_gillespie_simulation.*
*.so
*.so.dylib
*.csv
*.bmp
*.tree
*.pdf
*.tree
testout.txt
*.txt
.Rproj.user
RcppExports.*
r_package/src/*.*pp
CHESS_0.0.0.9000.tar.gz
Info.plist

r_package/.Rhistory


data_no_use/
data_original_ft_1000/
data_original_pretrained_1000/
tests/
tmp_tmp_old/
tmp/
tmp2/
tmp_tmp/
vae/out/
vae/wandb/
vae/vae_out/
thirdparts/
data_original_large/
data_original_no_use/
data_original_test/